@import "../vars";
@import "../../bootstrap/mixins/fonts";

@mixin h1 (){

}
@mixin h2 (){
    h2 {
        @include openSansLight;
        color: $blue;
        span{
            color: $gray-dark;
            font-size: 24px;
        }
    }
    .chrome-mac-font h2{
        text-shadow: 0 0.2px 0.3px;
        span {
            text-shadow: none;
        }
    }
}
@mixin h3 (){

}


@mixin headlines (){
    @include h1;
    @include h2;
    @include h3;
}