//color
$blue: #00c2da;
$white: #fff;
$gray-dark: #333;
$dark2: #999;
$gray-dark1: #bfbfbf;
$gray-dark2: #3a3a3a;
$gray-light: #f3f3f3;
$gray-light2: #4d4d4d;
$gray-light3: #ccc;
$gray-light4: #666;
$gray-light5: #a5a5a5;
$gray-light6: #ededed;
$gray-light7: #878787;
$blue:		  #00c2da;


$red: #FF0000 !default;

//form
$input-error-border: $red;

//font
$baseFont : Helvetica, Arial, Sans-Serif;
$openSans : "Open Sans";